@media only screen and (min-width: 34rem) {


    h1 {
        font-size: 35px;
        font-weight: 700;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
    }

    h4 {
        font-size: 20px;
        font-weight: 500;
    }

    p {
        font-weight: 400;
    }

    /* Coolors Exported Palette - https://coolors.co/50b693-fdd068-e8476f-000000-404040-666666-f8f8f8-ffffff */
    nav {
        width: 300px;
        height: 100%;
    }

    .navbar h2 {
        color: white;
    }

    nav a {
        margin-left: 20px;
    }

    .container {
        max-width: 1300px;
        margin: auto;
    }



    .navbar {
        padding: 0 20px;
        margin: 0;
        display: flex;
    }

    .open-button {
        display: none;
    }

    .close-button {
        display: none;
    }

    nav#primaryNav {
        display: flex;
        position: relative;
        flex: 1;
        width: 100%;
        text-align: right;
        background-color: transparent;
        border-bottom-left-radius: 0;
        justify-content: flex-end;   
    }

    nav ul {
        display: block;
        margin: 0;
        padding: 0;     
    }

    nav li {
        display: inline-block;
    }

    nav li:hover {
        background-color: transparent;
    }
    nav li.active {
        background-color: transparent;
    }
    nav .active {
        color: rgb(253, 253, 0);
    }

    nav a:hover {
        color: rgb(46, 136, 30);
    }
.footer {
    margin: auto;
    max-width: 1300px;
    padding: 20px;
}




}